<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>骰骰乐后台管理系统</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="/static/toutoule/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/static/toutoule/assets/css/font-awesome.css" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="/static/toutoule/assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="/static/toutoule/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">骰骰乐后台管理系统</a>
            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="/static/toutoule/assets/img/user.png" class="img-thumbnail" />

                            <div class="inner-text">
                                Admin
                          </div>
                        </div>

                    </li>

                     <li>
                        <a href="/manager/modifyPassword"><i class="glyphicon glyphicon-lock"></i>修改密码</a>
                    </li>

                    <li>
                        <a href="#"><i class="glyphicon glyphicon-cog "></i>系统控制<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a id="turnOn" href="#"><i class="fa fa-toggle-on"></i>开启系统</a>
                            </li>
                            <li>
                                <a id="turnOff" href="#"><i class="fa fa-toggle-off "></i>关闭系统</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="glyphicon glyphicon-th-large "></i>模式设置 <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a id="turnOnAutoMode" href="#"><i class="glyphicon glyphicon-wrench"></i>自动模式</a>
                            </li>
                            <li>
                                <a id="turnOnManualMode" href="#"><i class="glyphicon glyphicon-hand-right "></i>手动模式</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="/manager/history"><i class="glyphicon glyphicon-list-alt "></i>查看游戏记录</a>

                  </li>
                      <li>
                        <a href="/manager/main"><i class="fa fa-anchor "></i>设置游戏结果</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-file"></i>公告管理<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="/manager/bulletin/publish"><i class="glyphicon glyphicon-edit"></i>发布公告</a>
                            </li>
                            <li>
                                <a href="/manager/bulletin/record"><i class="glyphicon glyphicon-th-list"></i>公告记录</a>
                            </li>
                        </ul>
                    </li>

                     <li>
                        <a href="/manager/score"><i class="glyphicon glyphicon-usd"></i>用户积分管理</a>
                  </li>
                    <li>
                        <a href="/manager/user/create"><i class="fa fa-sign-in "></i>创建账户</a>
                    </li>
                    <li>
                        <a href="/manager/user/list"><i class="glyphicon glyphicon-user "></i>账户管理</a>                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-10">
                        <h1 class="page-head-fonts">设置游戏结果</h1>
                  </div>
                  <div class="col-md-2">
                      <div id="numOfOnlinePlayers">当前玩家在线人数：0</div>
                        <!-- <button id="btnStartGame" type="button" class="btn-create btn-lg btn-primary">开始游戏</button> -->
                    </div>
                    <div class="col-md-12">
                        <h1 class="page-head-line"></h1>
                    </div>
                </div>
                <!--/.Row-->
              <div class="row">

                <div class="col-md-12">
                <div class="panel panel-default">
                    <div id="statusText" class="panel-heading">当前系统状态：系统下线中，当前为自动模式</div></div>
                  <!--   Kitchen Sink -->
                  <div class="panel panel-default">
                    <div class="panel-heading">当前游戏押注结果</div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>&nbsp;</th>
                              <th>单</th>
                              <th>双</th>
                              <th>豹子1</th>
                              <th>豹子2</th>
                              <th>豹子3</th>
                              <th>豹子4</th>
                              <th>豹子5</th>
                              <th>豹子6</th>
                              <td>合计</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>玩家数</td>
                              <td id="danPlayerNum">0</td>
                              <td id="shuangPlayerNum">0</td>
                              <td id="baozi1PlayerNum">0</td>
                              <td id="baozi2PlayerNum">0</td>
                              <td id="baozi3PlayerNum">0</td>
                              <td id="baozi4PlayerNum">0</td>
                              <td id="baozi5PlayerNum">0</td>
                              <td id="baozi6PlayerNum">0</td>
                              <td id="totalPlayerNum">0</td>
                            </tr>
                            <tr>
                              <td>押注总积分</td>
                              <td id="danCoin">0</td>
                              <td id="shuangCoin">0</td>
                              <td id="baozi1Coin">0</td>
                              <td id="baozi2Coin">0</td>
                              <td id="baozi3Coin">0</td>
                              <td id="baozi4Coin">0</td>
                              <td id="baozi5Coin">0</td>
                              <td id="baozi6Coin">0</td>
                              <td id="totalCoin">0</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- End  Kitchen Sink -->
                </div>


              </div>
                <!--/.Row-->

              <!--/.ROW-->
              <div class="row">
                <div class="col-md-1">
                  <button id="btnDan" type="button" class="btn-index btn-sm btn-primary">单数</button>
                </div>
                <div class="col-md-1">
                  <button id="btnShuang" type="button" class="btn-index btn-sm btn-primary">双数</button>
                </div>
                <div class="col-md-1">
                  <button id="btnBaozi1" type="button" class="btn-index btn-sm btn-primary">豹子1</button>
                </div>
                <div class="col-md-1">
                  <button id="btnBaozi2" type="button" class="btn-index btn-sm btn-primary">豹子2</button>
                </div>
                <div class="col-md-1">
                  <button id="btnBaozi3" type="button" class="btn-index btn-sm btn-primary">豹子3</button>
                </div>
                <div class="col-md-1">
                  <button id="btnBaozi4" type="button" class="btn-index btn-sm btn-primary">豹子4</button>
                </div>
                <div class="col-md-1">
                  <button id="btnBaozi5" type="button" class="btn-index btn-sm btn-primary">豹子5</button>
                </div>
                <div class="col-md-1">
                  <button id="btnBaozi6" type="button" class="btn-index btn-sm btn-primary">豹子6</button>
                </div>
                <div class="col-md-2">
                  <button id="btnYes" type="button" class="btn-index btn-sm btn-danger">确定</button>
                </div>
              </div>
              <!--/.Row-->
              <div class="row">

                <div class="col-md-12">
                  <!--   Kitchen Sink -->
                  <div class="panel panel-default">
                    <div id="statusBanner" class="panel-heading">当前游戏状态：无</div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>序号</th>
                              <th>参与玩家</th>
                              <th>押注状态</th>
                              <th>押注情况</th>
                              <th>所押积分</th>
                            </tr>
                          </thead>
                          <tbody id="playerTable">
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- End  Kitchen Sink -->
                </div>


              </div>
                <!--/.Row-->
                  <ul id="pageBtnGroup" class="pagination">
                  </ul>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <div id="footer-sec">
        &copy; 2017 骰骰乐后台管理系统
    </div>

    <!-- <script src="/static/bower_components/jquery/dist/jquery.min.js"></script> -->

    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="/static/toutoule/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/static/toutoule/assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/static/toutoule/assets/js/jquery.metisMenu.js"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="/static/toutoule/assets/js/custom.js"></script>

    <!-- Cookies -->
    <script src="/static/bower_components/js-cookie/src/js.cookie.js"></script>

    <!-- 加载 Socket.IO -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- 业务脚本 -->
    <!-- <script src="/static/toutoule/js/main.js"></script> -->
    <script>
      $(document).ready(function() {
        // 若密匙存在，则验证
        if(Cookies.get("adminToken")) {
          $.post(
            "/admin/verify",
            JSON.stringify({
              token: Cookies.get("adminToken")
            }),
            function(data) {
              // 如果验证不通过，则跳转至登录界面
              if(data.isError) {
                window.location.replace("/manager/login");
              }else {
                // 建立 WebSocket 连接
                var socket = io();

                // 游戏状态 & 游戏模式
                var state = "offline";
                var mode = "auto";

                // 告知服务器管理员加入
                socket.emit("newPlayer", {
                  token: Cookies.get("adminToken"),
                  type: "admin"
                });

                // 点击可开始游戏
                $("#btnStartGame").click(function() {
                  socket.emit("startGame");
                });

                // 更新在线玩家人数
                socket.on("updateOnlinePlayers", function(data) {
                  $("#numOfOnlinePlayers").html("当前玩家在线人数：" + data.number);

                  console.log("接收到请求");
                });

                // 监听状态改变
                socket.on("updateStatus", function(data) {
                  switch (data.state) {
                    case "offline":
                      // 修改游戏状态 & 并更新
                      state = "offline";

                      // 更新状态栏
                      $("#statusText").html("当前游戏状态：系统下线中，当前为" + (mode === "manual" ? "手动模式" : "自动模式"));

                      // 更新状态吧
                      $("#statusBanner").html("当前游戏状态：游戏未上线");

                      break;
                    case "online":
                      // 修改游戏状态 & 并更新
                      state = "online";

                      // 重置统计栏
                      resetStatics();

                      // 重置玩家列表
                      resetPlayerList();

                      // 更新状态栏
                      $("#statusText").html("当前游戏状态：系统开放中，当前为" + (mode === "manual" ? "手动模式" : "自动模式"));

                      // 更新状态吧
                      $("#statusBanner").html("当前游戏状态：游戏上线");

                      break;
                    case "preparingCountDown":
                      // 修改游戏状态 & 并更新
                      state = "preparingCountDown";

                      // 更新状态栏
                      $("#statusText").html("当前游戏状态：系统开放中，当前为" + (mode === "manual" ? "手动模式" : "自动模式"));

                      // 更新状态吧
                      $("#statusBanner").html("当前游戏状态：倒计时/距离游戏开始还有" + data.tick + "秒");

                      break;
                    case "loading":
                      // 修改游戏状态 & 并更新
                      state = "loading";

                      // 更新状态栏
                      $("#statusText").html("当前游戏状态：系统开放中，当前为" + (mode === "manual" ? "手动模式" : "自动模式"));

                      // 更新状态吧
                      $("#statusBanner").html("当前游戏状态：游戏加载中");

                      break;
                    case "gaming":
                      // 修改游戏状态 & 并更新
                      state = "gaming";

                      // 更新状态栏
                      $("#statusText").html("当前游戏状态：系统开放中，当前为" + (mode === "manual" ? "手动模式" : "自动模式"));

                      // 更新状态吧
                      $("#statusBanner").html("当前游戏状态：游戏进行中");

                      break;
                    case "gamingCountDown":
                      // 修改游戏状态 & 并更新
                      state = "gamingCountDown";

                      // 更新状态栏
                      $("#statusText").html("当前游戏状态：系统开放中，当前为" + (mode === "manual" ? "手动模式" : "自动模式"));

                      // 更新状态吧
                      $("#statusBanner").html("当前游戏状态：倒计时/距离押注时间结束还有" + data.tick + "秒");

                      break;
                    case "onWait":
                      // 修改游戏状态 & 并更新
                      state = "onWait";

                      // 更新状态栏
                      $("#statusText").html("当前游戏状态：系统开放中，当前为" + (mode === "manual" ? "手动模式" : "自动模式"));

                      // 更新状态吧
                      $("#statusBanner").html("当前游戏状态：等待游戏结果");

                      break;
                    case "calculateResult":
                      // 修改游戏状态 & 并更新
                      state = "calculateResult";

                      // 更新状态栏
                      $("#statusText").html("当前游戏状态：系统开放中，当前为" + (mode === "manual" ? "手动模式" : "自动模式"));

                      // 更新状态吧
                      $("#statusBanner").html("当前游戏状态：正在计算游戏结果");

                      break;
                    case "onResult":
                      // 修改游戏状态 & 并更新
                      state = "onResult";

                      // 更新状态栏
                      $("#statusText").html("当前游戏状态：系统开放中，当前为" + (mode === "manual" ? "手动模式" : "自动模式"));

                      // 更新状态吧
                      $("#statusBanner").html("当前游戏状态：正在计算游戏结果");

                      break;
                    case "watting":
                      // 修改游戏状态 & 并更新
                      state = "watting";

                      // 更新状态栏
                      $("#statusText").html("当前游戏状态：系统开放中，当前为" + (mode === "manual" ? "手动模式" : "自动模式"));

                      // 更新状态吧
                      $("#statusBanner").html("当前游戏状态：等待用户结束");

                      break;
                  }
                });

                // 开启自动模式按钮
                $("#turnOnAutoMode").click(function() {
                  socket.emit("turnOnAutoMode");
                });

                // 开启手动模式按钮
                $("#turnOnManualMode").click(function() {
                  socket.emit("turnOnManualMode");
                });

                // 监听游戏状态的改变
                socket.on("updateMode", function(data) {
                  // 修改游戏模式
                  mode = data.mode;

                  // 判断游戏状态
                  if(state === "offline") {
                    $("#statusText").html("当前游戏状态：系统下线中，当前为" + (mode === "manual" ? "手动模式" : "自动模式"));
                  }else {
                    $("#statusText").html("当前游戏状态：系统开放中，当前为" + (mode === "manual" ? "手动模式" : "自动模式"));
                  }
                });

                // 开启游戏
                $("#turnOn").click(function() {
                  socket.emit("turnOn");
                });

                // 关闭游戏
                $("#turnOff").click(function() {
                  socket.emit("turnOff");
                });

                // 监听玩家押注统计
                socket.on("stakeStatics", function(data) {
                  // 显示玩家数
                  $("#danPlayerNum").html(data.playerNum.danPlayerNum);
                  $("#shuangPlayerNum").html(data.playerNum.shuangPlayerNum);
                  $("#baozi1PlayerNum").html(data.playerNum.baozi1PlayerNum);
                  $("#baozi2PlayerNum").html(data.playerNum.baozi2PlayerNum);
                  $("#baozi3PlayerNum").html(data.playerNum.baozi3PlayerNum);
                  $("#baozi4PlayerNum").html(data.playerNum.baozi4PlayerNum);
                  $("#baozi5PlayerNum").html(data.playerNum.baozi5PlayerNum);
                  $("#baozi6PlayerNum").html(data.playerNum.baozi6PlayerNum);
                  $("#totalPlayerNum").html(data.playerNum.totalPlayerNum);

                  // 显示押注数
                  $("#danCoin").html(data.coinNum.danCoin);
                  $("#shuangCoin").html(data.coinNum.shuangCoin);
                  $("#baozi1Coin").html(data.coinNum.baozi1Coin);
                  $("#baozi2Coin").html(data.coinNum.baozi2Coin);
                  $("#baozi3Coin").html(data.coinNum.baozi3Coin);
                  $("#baozi4Coin").html(data.coinNum.baozi4Coin);
                  $("#baozi5Coin").html(data.coinNum.baozi5Coin);
                  $("#baozi6Coin").html(data.coinNum.baozi6Coin);
                  $("#totalCoin").html(data.coinNum.totalCoin);

                  console.log("获得玩家押注统计");
                });

                // 重置统计栏
                function resetStatics() {
                  // 重置玩家数
                  $("#danPlayerNum").html(0);
                  $("#shuangPlayerNum").html(0);
                  $("#baozi1PlayerNum").html(0);
                  $("#baozi2PlayerNum").html(0);
                  $("#baozi3PlayerNum").html(0);
                  $("#baozi4PlayerNum").html(0);
                  $("#baozi5PlayerNum").html(0);
                  $("#baozi6PlayerNum").html(0);
                  $("#totalPlayerNum").html(0);

                  // 重置押注数
                  $("#danCoin").html(0);
                  $("#shuangCoin").html(0);
                  $("#baozi1Coin").html(0);
                  $("#baozi2Coin").html(0);
                  $("#baozi3Coin").html(0);
                  $("#baozi4Coin").html(0);
                  $("#baozi5Coin").html(0);
                  $("#baozi6Coin").html(0);
                  $("#totalCoin").html(0);
                }

                // 管理员控制游戏结果
                var result = "";

                // 结果为单
                $("#btnDan").click(function() {
                  result = "d";
                });

                // 结果为双
                $("#btnShuang").click(function() {
                  result = "s";
                });

                // 结果为豹子 1
                $("#btnBaozi1").click(function() {
                  result = "b1";
                });

                // 结果为豹子 2
                $("#btnBaozi2").click(function() {
                  result = "b2";
                });

                // 结果为豹子 3
                $("#btnBaozi3").click(function() {
                  result = "b3";
                });

                // 结果为豹子 4
                $("#btnBaozi4").click(function() {
                  result = "b4";
                });

                // 结果为豹子 5
                $("#btnBaozi5").click(function() {
                  result = "b5";
                });

                // 结果为豹子 6
                $("#btnBaozi6").click(function() {
                  result = "b6";
                });

                // 结果为豹子 7
                $("#btnYes").click(function() {
                  if(result !== "") {
                    // 告知服务器游戏结果
                    socket.emit("giveResult", result);

                    // 重置 result
                    result = "";
                  }
                });

                // 重置玩家列表
                function resetPlayerList() {
                  // 清空表格
                  $("#playerTable").empty();

                  // 清空 page button group
                  $("#pageBtnGroup").empty();
                }

                // **** 监听服务器发来的玩家列表 ****
                socket.on("playerList", function(data) {
                  // 转换用户数据函数
                  function transfer(info) {
                    var player = {
                      username: info.username,
                      isStaked: info.isStaked === true ? "已押注" : "未押注",
                      stakeCoin: info.stakeCoin
                    };

                    // 转换押注类型
                    switch (info.stakeType) {
                      case "d":
                        player.stakeType = "单";
                        break;
                      case "s":
                        player.stakeType = "双";
                        break;
                      case "b1":
                        player.stakeType = "豹子1";
                        break;
                      case "b2":
                        player.stakeType = "豹子2";
                        break;
                      case "b3":
                        player.stakeType = "豹子3";
                        break;
                      case "b4":
                        player.stakeType = "豹子4";
                        break;
                      case "b5":
                        player.stakeType = "豹子5";
                        break;
                      case "b6":
                        player.stakeType = "豹子6";
                        break;
                      default:
                        player.stakeType = "无";
                    }

                    return player;
                  }

                  // 渲染页面
                  function renderPage(start, end) {
                    // 清空表格
                    $("#playerTable").empty();

                    for(let i = start;i < end;i++) {
                      var info = transfer(data[i]);

                      $("#playerTable").append(
                        "<tr>" +
                        "<td>" + (i + 1 - start) + "</td>" +
                        "<td>" + info.username + "</td>" +
                        "<td>" + info.isStaked + "</td>" +
                        "<td>" + info.stakeType + "</td>" +
                        "<td>" + info.stakeCoin + "</td>" +
                        "</tr>"
                      );
                    }
                  }

                  // 判断数据长度，并渲染第一页数据
                  if(data.length < 15) {
                    renderPage(0, data.length);
                  }else {
                    renderPage(0, 14);
                  }

                  // BUG: 按钮不显示
                  // 清空 page button group
                  $("#pageBtnGroup").empty();

                  // 计算页数
                  var pageNum = Math.ceil(data.length / 15);

                  // 添加前一页按钮
                  $("#pageBtnGroup").append(
                    "<li><a id=\"previousBtn\" href=\"#\">&laquo;</a></li>"
                  );

                  // 添加若干页按钮
                  for(let i = 0;i < pageNum;i++) {
                    $("#pageBtnGroup").append(
                      "<li><a href=\"#\">" + i + 1 + "</a></li>"
                    );
                  }

                  // 添加后一页按钮
                  $("#pageBtnGroup").append(
                    "<li><a id=\"nextBtn\" href=\"#\">&raquo;</a></li>"
                  );

                  // 记录当前页面
                  var currentPage = 1;

                  // 绑定事件
                  $("#previousBtn").click(function() {
                    if(currentPage > 1) {
                      currentPage--;

                      // 渲染该页
                      renderPage((currentPage - 1) * 15, (currentPage - 1) * 15 + 14);
                    }
                  });

                  $("#nextBtn").click(function() {
                    if(currentPage < pageNum - 1) {
                      currentPage++;

                      // 渲染该页
                      renderPage((currentPage - 1) * 15, (currentPage - 1) * 15 + 14);
                    }
                  });
                });
              }
            }
          );
        }else {
          // 如果不存在，则重定向至登录界面
          window.location.replace("/manager/login");
        }
      });
    </script>

</body>
</html>
