<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>骰骰乐后台管理系统-修改密码</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="/static/toutoule/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/static/toutoule/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <!-- jQuery -->
    <script src="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/js/jquery.min.js"></script>

    <!-- Cookies -->
    <script src="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/js/js.cookie.js"></script>

    <!-- 控制脚本 -->
    <script>
      $(document).ready(function() {
        // 如果密匙存在，则验证
        if(Cookies.get("adminToken")) {
          $.post(
            "/admin/verify",
            JSON.stringify({
              token: Cookies.get("adminToken")
            }),
            function(data) {
              // 如果验证不通过，则跳转至登录界面
              if(data.isError) {
                window.location.replace("/manager/login");
              }
            }
          );
        }else {
          // 如果不存在，则重定向至登录界面
          window.location.replace("/manager/login");
        }

        // 监听按钮
        $("#btnModify").click(function() {
          var oldPassword = $("#oldPassword").val();
          var newPassword = $("#newPassword").val();
          var verifyPassword = $("#verifyPassword").val();

          // 数据预验证
          if(oldPassword === "") {
            alert("旧密码不能为空");
          }else if(newPassword === "") {
            alert("新密码不能为空");
          }else if(verifyPassword === "") {
            alert("请再次确认密码");
          }else if(newPassword !== verifyPassword) {
            alert("密码不一致");
          }else {
            $.ajax(
              "/admin/modifyPassword",
              {
                method: "POST",
                headers: {
                  "Authorization": Cookies.get("adminToken")
                },
                data: JSON.stringify({
                  oldPassword: oldPassword,
                  newPassword: newPassword
                }),
                dataType: "json",
                success: function(data) {
                  if(data.isError) {
                    alert(data.errorMessage);
                  }else {
                    // 移除密匙，并重定向
                    Cookies.remove("adminToken");
                    window.location.replace("/manager/login");
                  }
                }
              }
            );
          }
        });
      });
    </script>

</head>
<body style="background-color: #E2E2E2;">
    <div class="container">
        <div class="row text-center " style="padding-top:100px;">
            <div class="col-md-12">
                <img src="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/image/logo-invoice.png" />
            </div>
        </div>
         <div class="row ">

                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

                            <div class="panel-body">
                                <form role="form">
                                    <hr />
                                     <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"  ></i></span>
                                            <input id="oldPassword" type="password" class="form-control-login" placeholder="请输入旧密码" />
                                        </div>
                                                                              <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"  ></i></span>
                                            <input id="newPassword" type="password" class="form-control-login"  placeholder="请输入新密码" />
                                        </div>
                                        <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"  ></i></span>
                                            <input id="verifyPassword" type="password" class="form-control-login"  placeholder="请重新输入新密码" />
                                        </div>

                                     <a>
                                     <button id="btnModify" type="button" class="btn btn-block btn-info">确认</button></a>
                                </form>
                            </div>

                        </div>


        </div>
    </div>

</body>
</html>
