<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>骰骰乐后台管理系统-积分设置记录</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="/static/toutoule/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/static/toutoule/assets/css/font-awesome.css" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/css/custom.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">骰骰乐后台管理系统</a>
            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/image/user.png" class="img-thumbnail" />

                            <div class="inner-text">
                                Admin
                          </div>
                        </div>

                    </li>

                     <li>
                        <a href="/manager/modifyPassword"><i class="glyphicon glyphicon-lock"></i>修改密码</a>
                    </li>

                    <li>
                        <a href="#"><i class="glyphicon glyphicon-cog "></i>系统控制<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="fa fa-toggle-on"></i>开启系统</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-toggle-off "></i>关闭系统</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="glyphicon glyphicon-th-large "></i>模式设置 <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-wrench"></i>自动模式</a>
                            </li>
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-hand-right "></i>手动模式</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="/manager/history"><i class="glyphicon glyphicon-list-alt "></i>查看游戏记录</a>

                  </li>
                      <li>
                        <a href="/manager/main"><i class="fa fa-anchor "></i>设置游戏结果</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-file"></i>公告管理<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="/manager/bulletin/publish"><i class="glyphicon glyphicon-edit"></i>发布公告</a>
                            </li>
                            <li>
                                <a href="/manager/bulletin/record"><i class="glyphicon glyphicon-th-list"></i>公告记录</a>
                            </li>
                        </ul>
                    </li>

                     <li>
                        <a href="/manager/score"><i class="glyphicon glyphicon-usd"></i>用户积分管理</a>
                  </li>
                    <li>
                        <a href="/manager/user/create"><i class="fa fa-sign-in "></i>创建账户</a>
                    </li>
                    <li>
                        <a href="/manager/user/list"><i class="glyphicon glyphicon-user "></i>账户管理</a>                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-fonts">积分设置记录</h1>
                  </div>
                    <div class="col-md-12">
                        <h1 class="page-head-line"></h1>
                    </div>
                </div>
                <!--/.Row-->
               <div class="row">

                <div class="col-md-12">
                  <!--   Kitchen Sink -->
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>日期</th>
                              <th>时间</th>
                              <th>用户</th>
                              <th>积分设置</th>
                              <th>剩余积分</th>
                            </tr>
                          </thead>
                          <tbody id="recordTable">
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- End  Kitchen Sink -->
                </div>


              </div>
                <!--/.Row-->
                  <ul class="pagination">
                      <li><a id="btnPrevious" href="#">&laquo;</a></li>
                      <% for (var i = 1;i <= count;i++) { %>
                        <% var html = "<li><a href=\"/manager/score/record?page=" + i + "\">" + i + "</a></li>" %>
                        <%- html %>
                      <% } %>
                      <li><a id="btnNext" href="#">&raquo;</a></li>
                  </ul>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <div id="footer-sec">
        &copy; 2017 骰骰乐后台管理系统
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/js/jquery.metisMenu.js"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/js/custom.js"></script>

    <!-- Cookies -->
    <script src="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/js/js.cookie.js"></script>

    <!-- 加载 Socket.IO -->
    <script src="/socket.io/socket.io.js"></script>

    <script>
    $(document).ready(function() {
      // 若密匙存在，则验证
      if(Cookies.get("adminToken")) {
        $.post(
          "/admin/verify",
          JSON.stringify({
            token: Cookies.get("adminToken")
          }),
          function(data) {
            if(data.isError) {
              window.location.replace("/manager/login");
            }else {
              // 建立 WebSocket 连接
              var socket = io();

              // 告知服务器管理员加入
              socket.emit("newPlayer", {
                token: Cookies.get("adminToken"),
                type: "admin"
              });

              // 开启游戏
              $("#turnOn").click(function() {
                socket.emit("turnOn");

                // 跳转页面至控制界面
                window.location.replace("/manager/main");
              });

              // 关闭游戏
              $("#turnOff").click(function() {
                socket.emit("turnOff");

                // 跳转页面至控制界面
                window.location.replace("/manager/main");
              });

              // 开启自动模式按钮
              $("#turnOnAutoMode").click(function() {
                socket.emit("turnOnAutoMode");

                // 跳转页面至控制界面
                window.location.replace("/manager/main");
              });

              // 开启手动模式按钮
              $("#turnOnManualMode").click(function() {
                socket.emit("turnOnManualMode");

                // 跳转页面至控制界面
                window.location.replace("/manager/main");
              });

              var $date = {
                /**
                 * @private
                 * @param {Date} date
                 * @return {object}
                 * @description
                 * create a date object with the given date
                **/
                _createDateObject: function(date) {
                  return {
                    _date: date,
                    /**
                     * @public
                     * @return {Integer}
                     * @description
                     * get the year of the date
                    **/
                    getYear: function() {
                      return this._date.getFullYear();
                    },
                    /**
                     * @public
                     * @param {Integer} year
                     * @description
                     * set the year of the date
                    **/
                    setYear: function(year) {
                      this._date.setFullYear(year);
                    },
                    /**
                     * @public
                     * @return {Integer}
                     * @description
                     * get the month of the date
                    **/
                    getMonth: function() {
                      return this._date.getMonth() + 1;
                    },
                    /**
                     * @public
                     * @param {Integer} month
                     * @description
                     * set the month of the date
                    **/
                    setMonth: function(month) {
                      this._date.setMonth(month - 1);
                    },
                    /**
                     * @public
                     * @return {Integer}
                     * @description
                     * get the day of the date
                    **/
                    getDay: function() {
                      return this._date.getDate();
                    },
                    /**
                     * @public
                     * @param {Integer} day
                     * @description
                     * set the day of the date
                    **/
                    setDay: function(day) {
                      this._date.setDate(day);
                    },
                    /**
                     * @public
                     * @return {Integer}
                     * @description
                     * get the hours of the date
                    **/
                    getHour: function() {
                      return this._date.getHours();
                    },
                    /**
                     * @public
                     * @param {Integer} hour
                     * @description
                     * set the hour of the date
                    **/
                    setHour: function(hour) {
                      this._date.setHours(hour);
                    },
                    /**
                     * @public
                     * @return {Integer}
                     * @description
                     * get the minutes of the date
                    **/
                    getMinute: function() {
                      return this._date.getMinutes();
                    },
                    /**
                     * @public
                     * @param {Integer} minutes
                     * @description
                     * set the minutes of the date
                    **/
                    setMinute: function(minutes) {
                      this._date.setMinutes(minutes);
                    },
                    /**
                     * @public
                     * @return {Integer}
                     * @description
                     * get the seconds of the date
                    **/
                    getSecond: function() {
                      return this._date.getSeconds();
                    },
                    /**
                     * @public
                     * @param {Integer} seconds
                     * @description
                     * set the seconds of the date
                    **/
                    setSecond: function(seconds) {
                      this._date.setSeconds(seconds);
                    },
                    /**
                     * @public
                     * @return {Integer}
                     * @description
                     * get the milliseconds representation of the date
                    **/
                    getAsMilliseconds: function() {
                      return this._date.getTime();
                    },
                    /**
                     * @public
                     * @return {Date}
                     * @description
                     * get the Date representation of the date
                    **/
                    getAsDate: function() {
                      return this._date;
                    }
                  }
                },
                /**
                 * @public
                 * @return {object}
                 * @description
                 * get the date object of now
                **/
                now: function() {
                  return this._createDateObject(new Date());
                },
                /**
                 * @public
                 * @param {Integer} milliseconds
                 * @return {Date}
                 * @description
                 * transforme milliseconds to date object
                **/
                millisecondsToDate: function(milliseconds) {
                  var date = new Date();
                  date.setTime(milliseconds);

                  return this._createDateObject(date);
                },
                /**
                 * @public
                 * @param {object} a
                 * @param {object} b
                 * @return {Integer}
                 * @description
                 * compare the dates.
                 * return 1 if a is larger than b
                 * return 0 if a and b are equal
                 * return -1 if a is smaller than b
                **/
                compare: function(a, b) {
                  var date1 = {
                    year: a.getYear(),
                    month: a.getMonth(),
                    day: a.getDay(),
                    hour: a.getHour(),
                    minute: a.getMinute(),
                    second: a.getSecond()
                  };

                  var date2 = {
                    year: b.getYear(),
                    month: b.getMonth(),
                    day: b.getDay(),
                    hour: b.getHour(),
                    minute: b.getMinute(),
                    second: b.getSecond()
                  };

                  if(date1.year > date2.year) {
                    return 1;
                  }else if(date1.year < date2.year) {
                    return -1;
                  }else {
                    if(date1.month > date2.month) {
                      return 1;
                    }else if(date1.month < date2.month) {
                      return -1;
                    }else {
                      if(date1.day > date2.day) {
                        return 1;
                      }else if(date1.day < date2.day) {
                        return -1;
                      }else {
                        if(date1.hour > date2.hour) {
                          return 1;
                        }else if(date1.hour < date2.hour) {
                          return -1;
                        }else {
                          if(date1.minute > date2.minute) {
                            return 1;
                          }else if(date1.minute < date2.minute) {
                            return -1;
                          }else {
                            if(date1.second > date2.second) {
                              return 1;
                            }else if(date1.second < date2.second) {
                              return -1;
                            }else {
                              return 0;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              };

              // 前一页按钮
              $("#btnPrevious").click(function() {
                if(Number.parseInt(getUrlParam("page") || '1') > 1) {
                  window.location.replace("/manager/score/record?page=" + (Number.parseInt(getUrlParam("page") || 1) - 1));
                }
              });

              // 后一页按钮
              $("#btnNext").click(function() {
                if(Number.parseInt(getUrlParam("page") || '1') < $(".pagination li").size() - 2) {
                  window.location.replace("/manager/score/record?page=" + (Number.parseInt(getUrlParam("page") || 1) + 1));
                }
              });

              // 获取 url 中的参数
              function getUrlParam(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                var r = window.location.search.substr(1).match(reg); //匹配目标参数
                if (r != null) return unescape(r[2]); return null; //返回参数值
              }

              renderRecordTable(getUrlParam("page") || 1);

              // 渲染记录表
              function renderRecordTable(page) {
                // 清空记录表
                $("#recordTable").empty();

                // 转换数据
                function transfer(option) {
                  var date = $date.millisecondsToDate(option.date);

                  // day
                  var day = date.getYear() + "年" + date.getMonth() + "月" + date.getDay() + "日";

                  // time
                  var time = date.getHour() + ":" + date.getMinute() + ":" + date.getSecond();

                  return {
                    day: day,
                    time: time,
                    username: option.username,
                    coin: option.coin,
                    remainCoin: option.remainCoin
                  };
                }

                // 获取数据
                $.ajax(
                  "/coin/history/list",
                  {
                    method: "GET",
                    headers: {
                      "Authorization": Cookies.get("adminToken")
                    },
                    data: {
                      start: (page - 1) * 15,
                      end: (page - 1) * 15 + 14
                    },
                    dataType: "json",
                    success: function(data) {
                      if(data.isError === false) {
                        var records = data.result.list;

                        // 遍历
                        records.forEach(function(record) {
                          // 转换数据
                          var option = transfer(record);

                          $("#recordTable").append(
                            "<tr>" +
                            "<td>" + option.day + "</td>" +
                            "<td>" + option.time + "</td>" +
                            "<td>" + option.username + "</td>" +
                            "<td>" + option.coin + "</td>" +
                            "<td>" + option.remainCoin + "</td>" +
                            "</tr>"
                          );
                        });
                      }
                    }
                  }
                );
              }
            }
          }
        );
      }else {
        // 如果不存在，则重定向至登录界面
        window.location.replace("/manager/login");
      }
    });
    </script>

</body>
</html>
