<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>骰骰乐后台管理系统</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="/static/toutoule/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/static/toutoule/assets/css/font-awesome.css" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/css/custom.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">骰骰乐后台管理系统</a>
            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/image/user.png" class="img-thumbnail" />

                            <div class="inner-text">
                                Admin
                          </div>
                        </div>

                    </li>

                     <li>
                        <a href="/manager/modifyPassword"><i class="glyphicon glyphicon-lock"></i>修改密码</a>
                    </li>

                    <li>
                        <a href="#"><i class="glyphicon glyphicon-cog "></i>系统控制<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a id="turnOn" href="#"><i class="fa fa-toggle-on"></i>开启系统</a>
                            </li>
                            <li>
                                <a id="turnOff" href="#"><i class="fa fa-toggle-off "></i>关闭系统</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="glyphicon glyphicon-th-large "></i>模式设置 <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a id="turnOnAutoMode" href="#"><i class="glyphicon glyphicon-wrench"></i>自动模式</a>
                            </li>
                            <li>
                                <a id="turnOnManualMode" href="#"><i class="glyphicon glyphicon-hand-right "></i>手动模式</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="/manager/history"><i class="glyphicon glyphicon-list-alt "></i>查看游戏记录</a>

                  </li>
                      <li>
                        <a href="/manager/main"><i class="fa fa-anchor "></i>设置游戏结果</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-file"></i>公告管理<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="/manager/bulletin/publish"><i class="glyphicon glyphicon-edit"></i>发布公告</a>
                            </li>
                            <li>
                                <a href="/manager/bulletin/record"><i class="glyphicon glyphicon-th-list"></i>公告记录</a>
                            </li>
                        </ul>
                    </li>

                     <li>
                        <a href="/manager/score"><i class="glyphicon glyphicon-usd"></i>用户积分管理</a>
                  </li>
                    <li>
                        <a href="/manager/user/create"><i class="fa fa-sign-in "></i>创建账户</a>
                    </li>
                    <li>
                        <a href="/manager/user/list"><i class="glyphicon glyphicon-user "></i>账户管理</a>                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-10">
                        <h1 class="page-head-fonts">用户积分管理</h1>
                  </div>
                  <div class="col-md-2">
                        <a href="/manager/score/record"><button type="button" class="btn-create btn-lg btn-primary">积分设置记录</button></a>
                    </div>
                    <div class="col-md-12">
                     <h1 class="page-head-line"></h1>
                    </div>
                </div>
                <!--/.Row-->

                                <div class="row">
                                  <div class="col-md-12">
               <div class="panel panel-info">
                        <div class="panel-heading">设置用户积分</div>
                        <div class="panel-body">
                          <div class="form-group">
                              <label>请输入用户姓名</label>
                              <input id="username" class="form-control" type="text">

                </div>
                   <div class="form-group">
                              <label>请输入积分</label>
                              <input id="coin" class="form-control" type="number">
                   </div>

                   <div class="form-group">
                     <label>请选择增加或者减少</label>
                     <div class="radio">
                         <label>
                                      <input id="topUp" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">增加
                       </label>
                     </div>
                              <div class="radio">
                                  <label>
                                      <input id="bottomDown" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">减少
                                  </label>
                              </div>
              </div>



                <button id="yesButton" class="btn-index btn-info">确定 </button>
                            </div>
                        </div>
                            </div>
              </div>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <div id="footer-sec">
        &copy; 2017 骰骰乐后台管理系统
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/js/jquery.metisMenu.js"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/js/custom.js"></script>

    <!-- Cookies -->
    <script src="http://toutoule.oss-cn-shenzhen.aliyuncs.com/manager/js/js.cookie.js"></script>

    <!-- 加载 Socket.IO -->
    <script src="/socket.io/socket.io.js"></script>

    <script>
      $(document).ready(function() {
        // 若密匙存在，则验证
        if(Cookies.get("adminToken")) {
          $.post(
            "/admin/verify",
            JSON.stringify({
              token: Cookies.get("adminToken")
            }),
            function(data) {
              if(data.isError) {
                window.location.replace("/manager/login");
              }else {
                // 建立 WebSocket 连接
                var socket = io();

                // 告知服务器管理员加入
                socket.emit("newPlayer", {
                  token: Cookies.get("adminToken"),
                  type: "admin"
                });

                // 开启游戏
                $("#turnOn").click(function() {
                  socket.emit("turnOn");

                  // 跳转页面至控制界面
                  window.location.replace("/manager/main");
                });

                // 关闭游戏
                $("#turnOff").click(function() {
                  socket.emit("turnOff");

                  // 跳转页面至控制界面
                  window.location.replace("/manager/main");
                });

                // 开启自动模式按钮
                $("#turnOnAutoMode").click(function() {
                  socket.emit("turnOnAutoMode");

                  // 跳转页面至控制界面
                  window.location.replace("/manager/main");
                });

                // 开启手动模式按钮
                $("#turnOnManualMode").click(function() {
                  socket.emit("turnOnManualMode");

                  // 跳转页面至控制界面
                  window.location.replace("/manager/main");
                });

                // 默认类型
                var type = "topUp";

                // 监听 Radio Button
                $("#topUp").click(function() {
                  type = "topUp";

                  console.log(type);
                });

                $("#bottomDown").click(function() {
                  type = "bottomDown";

                  console.log(type);
                });

                // 监听充值失败
                socket.on("coinSetupError", function(data) {
                  alert(data.errorMessage);
                });

                // 监听充值成功
                socket.on("coinSetupSuccess", function() {
                  // 清空值
                  $("#username").val("");
                  $("#coin").val("");
                });

                // 监听确定按钮点击
                $("#yesButton").click(function() {
                  if(type === "topUp") {
                    // 增加
                    socket.emit("topUpCoin", {
                      username: $("#username").val(),
                      amount: $("#coin").val()
                    });
                  }else {
                    // 减少
                    socket.emit("bottomDownCoin", {
                      username: $("#username").val(),
                      amount: $("#coin").val()
                    });
                  }
                });
              }
            }
          );
        }else {
          // 如果不存在，则重定向至登录界面
          window.location.replace("/manager/login");
        }
      });
    </script>

</body>
</html>
