<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>骰骰乐后台管理系统</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="/static/toutoule/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/static/toutoule/assets/css/font-awesome.css" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="/static/toutoule/assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="/static/toutoule/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">骰骰乐后台管理系统</a>
            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="/static/toutoule/assets/img/user.png" class="img-thumbnail" />

                            <div class="inner-text">
                                Admin
                          </div>
                        </div>

                    </li>

                     <li>
                        <a href="/manager/modifyPassword"><i class="glyphicon glyphicon-lock"></i>修改密码</a>
                    </li>

                    <li>
                        <a href="#"><i class="glyphicon glyphicon-cog "></i>系统控制<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a id="turnOn" href="#"><i class="fa fa-toggle-on"></i>开启系统</a>
                            </li>
                            <li>
                                <a id="turnOff" href="#"><i class="fa fa-toggle-off "></i>关闭系统</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="glyphicon glyphicon-th-large "></i>模式设置 <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a id="turnOnAutoMode" href="#"><i class="glyphicon glyphicon-wrench"></i>自动模式</a>
                            </li>
                            <li>
                                <a id="turnOnManualMode" href="#"><i class="glyphicon glyphicon-hand-right "></i>手动模式</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="/manager/history"><i class="glyphicon glyphicon-list-alt "></i>查看游戏记录</a>

                  </li>
                      <li>
                        <a href="/manager/main"><i class="fa fa-anchor "></i>设置游戏结果</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-file"></i>公告管理<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="/manager/bulletin/publish"><i class="glyphicon glyphicon-edit"></i>发布公告</a>
                            </li>
                            <li>
                                <a href="/manager/bulletin/record"><i class="glyphicon glyphicon-th-list"></i>公告记录</a>
                            </li>
                        </ul>
                    </li>

                     <li>
                        <a href="/manager/score"><i class="glyphicon glyphicon-usd"></i>用户积分管理</a>
                  </li>
                    <li>
                        <a href="/manager/user/create"><i class="fa fa-sign-in "></i>创建账户</a>
                    </li>
                    <li>
                        <a href="/manager/user/list"><i class="glyphicon glyphicon-user "></i>账户管理</a>                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-fonts">用户信息</h1>
                  </div>
                    <div class="col-md-12">
                        <h1 class="page-head-line"></h1>
                    </div>
                </div>
                <!--/.Row-->
              <div class="row">

                <div class="col-md-12">
                  <!--   Kitchen Sink -->
                  <div class="panel panel-default">
                    <div class="panel-heading">用户基本信息</div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>用户名</th>
                              <th>剩余积分</th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td id="username">无</td>
                              <td id="coin">0</td>

                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- End  Kitchen Sink -->
                  <div class="panel panel-default">
                    <div class="panel-heading">用户游戏记录</div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>序号</th>
                              <th>游戏编号</th>
                              <th>游戏参与人数</th>
                              <th>押注情况</th>
                              <th>所押积分</th>
                              <th>游戏结果</th>
                              <th>游戏胜负</th>
                              <th>获得积分</th>

                            </tr>
                          </thead>
                          <tbody id="userRecordTable">

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- End  Kitchen Sink -->
                </div>


              </div>
                <!--/.Row-->

              <!--/.ROW-->
              <div class="row"></div>
              <!--/.Row-->
              <div class="row"></div>
                <!--/.Row-->
                  <ul class="pagination">
                      <li><a href="#">&laquo;</a></li>
                      <% for (var i = 1;i <= count;i++) { %>
                        <% var html = "<li><a href=\"/manager/user/info?page=" + i + "\">" + i + "</a></li>" %>
                        <%- html %>
                      <% } %>
                      <li><a href="#">&raquo;</a></li>
                  </ul>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <div id="footer-sec">
        &copy; 2017 骰骰乐后台管理系统
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="/static/toutoule/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/static/toutoule/assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/static/toutoule/assets/js/jquery.metisMenu.js"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="/static/toutoule/assets/js/custom.js"></script>

    <!-- Cookies -->
    <script src="/static/bower_components/js-cookie/src/js.cookie.js"></script>

    <!-- 加载 Socket.IO -->
    <script src="/socket.io/socket.io.js"></script>

    <script>
      $(document).ready(function() {
        // 若密匙存在，则验证
        if(Cookies.get("adminToken")) {
          $.post(
            "/admin/verify",
            JSON.stringify({
              token: Cookies.get("adminToken")
            }),
            function(data) {
              // 如果验证不通过，则跳转至登录界面
              if(data.isError) {
                window.location.replace("/manager/login");
              }else {
                // 建立 WebSocket 连接
                var socket = io();

                // 告知服务器管理员加入
                socket.emit("newPlayer", {
                  token: Cookies.get("adminToken"),
                  type: "admin"
                });

                // 开启游戏
                $("#turnOn").click(function() {
                  socket.emit("turnOn");
                });

                // 关闭游戏
                $("#turnOff").click(function() {
                  socket.emit("turnOff");
                });

                // 开启自动模式按钮
                $("#turnOnAutoMode").click(function() {
                  socket.emit("turnOnAutoMode");
                });

                // 开启手动模式按钮
                $("#turnOnManualMode").click(function() {
                  socket.emit("turnOnManualMode");
                });

                // 获取 url 中的参数
                function getUrlParam(name) {
                  var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                  var r = window.location.search.substr(1).match(reg); //匹配目标参数
                  if (r != null) return unescape(r[2]); return null; //返回参数值
                }

                // 获取用户数据并渲染
                $.ajax(
                  "/user/info",
                  {
                    method: "GET",
                    headers: {
                      "Authorization": Cookies.get("adminToken")
                    },
                    data: {
                      username: getUrlParam("username")
                    },
                    dataType: "json",
                    success: function(data) {
                      if(data.isError === false) {
                        $("#username").html(data.result.username);
                        $("#coin").html(data.result.coin);
                      }
                    }
                  }
                );

                renderUserRecordTable(getUrlParam("page") || 1);

                // 渲染用户游戏记录表格
                function renderUserRecordTable(page) {
                  // 清空表格
                  $("#userRecordTable").empty();

                  // 获取数据
                  $.ajax(
                    "/game/history/user/list",
                    {
                      method: "GET",
                      headers: {
                        "Authorization": Cookies.get("adminToken")
                      },
                      data: {
                        username: getUrlParam("username"),
                        start: (page - 1) * 15,
                        end: (page - 1) * 15 + 14
                      },
                      dataType: "json",
                      success: function(data) {
                        if(data.isError === false) {
                          var i = 1;

                          // 转换类型
                          function transferType(type) {
                            var text = "";

                            switch(type) {
                              case "d":
                                text = "单";
                                break;
                              case "s":
                                text = "双";
                                break;
                              case "b1":
                                text = "豹子1";
                                break;
                              case "b2":
                                text = "豹子2";
                                break;
                              case "b3":
                                text = "豹子3";
                                break;
                              case "b4":
                                text = "豹子4";
                                break;
                              case "b5":
                                text = "豹子5";
                                break;
                              case "b6":
                                text = "豹子6"
                                break;
                              default:
                                text = "无";
                            }

                            return text;
                          }

                          // 遍历记录
                          data.result.list.forEach(function(record) {
                            $("#userRecordTable").append(
                              "<tr>" +
                              "<td>" + i + "</td>" +
                              "<td>" + record.gameRoundCode + "</td>" +
                              "<td>" + record.playerCount + "</td>" +
                              "<td>" + transferType(record.stake) + "</td>" +
                              "<td>" + record.coinStaked + "</td>" +
                              "<td>" + transferType(record.result) + "</td>" +
                              "<td>" + (record.won === true ? "胜利" : "失败") + "</td>" +
                              "<td>" + record.reward + "</td>" +
                              "</tr>"
                            );

                            i++;
                          });
                        }
                      }
                    }
                  );
                }
              }
            }
          );
        }else {
          window.location.replace("/manager/login");
        }
      });
    </script>

</body>
</html>
