<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>骰骰乐</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    html {
      width: 100%;
      height: 100%;
    }

    body {
      width: 100%;
      height: 100%;
      background-image: url("/static/images/background.png");
      background-repeat: repeat-x;;
      background-size: contain;
    }

    #login-form {
      width: 300px;
      height: 320px;
      background-image: url("/static/images/box.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  </style>
  <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      var loginForm = $("#login-form");
      loginForm.css("margin", (window.innerHeight / 2 - loginForm.outerHeight() / 2) + "px auto");
    });
  </script>
</head>
<body>
  <div id="login-form"></div>
</body>
</html>
